<div class="jumbotron text-center text-white bg-dark">
    <p class='lead mb-1'>작성자 정보</p>
    <h1 class="display-4">{{ person.username }}</h1>
    <hr>
    <p class="lead">
        팔로잉: {{ person.followings.all|length }} | 팔로워: {{ person.followers.all|length }}
    </p>
    {% if user != article.user %}
        {% with person=person.followers.all %}
            {% if user in person.followers.all %}
                <a class='btn btn-primary btn-lg' href="{% url 'articles:follow' article.pk person.pk %}" role='button'>응~ 너랑 친구 안해~</a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{% url 'articles:follow' article.pk person.pk %}" role="button">친구 받아줭~</a>
            {% endif %}
        {% endwith %}
    {% endif %}

</div>